<body>
  <canvas id="canvas"></canvas>
</body>
<input type="text" id="inputBox">
<a id="submit"> submit </a>


<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/webs/controls.js"></script>
<script src="/webs/game.js"></script>
